---
import authorData from "../config/author.json";
import Header from "./PageHeader.astro";
import "bootstrap-icons/font/bootstrap-icons.css";
import "../styles/default.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!--Meta-Tags-->
    <!-- Open Graph -->
    <meta property="og:title" content={authorData.name} />
    <meta property="og:description" content={authorData.description} />
    <meta property="og:image" content={Astro.url + authorData.profilepic} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Literary Works" />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={authorData.name} />
    <meta name="twitter:description" content={authorData.description} />
    <meta name="twitter:image" content={Astro.url + authorData.profilepic} />
    <meta name="twitter:site" content="@literaryworks" />
    <meta name="twitter:creator" content="@literaryworks" />
    <!-- Schema.org (Google) -->
    <meta itemprop="name" content={authorData.name} />
    <meta itemprop="description" content={authorData.description} />
    <meta itemprop="image" content={Astro.url + authorData.profilepic} />
    <!-- Robots -->
    <meta name="robots" content="index, follow" />

    <title>{authorData.name}</title>
  </head>
  <body>
    <Header />
    <section class="content">
      <slot />
    </section>
  </body>
</html>

<style>
  html,
  body {
    background-color: var(--secondary-color);
    color: var(--font-color);
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
</style>
